@* The list of users - which is passed via the index.render() method *@
@*(users: List[User])*@
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Contact Request</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Content -->
<div class="mainContent" id="mainContent">
	<table class="tableList">
		<thead>
			<tr>
				<td>Propose time</td>
				<td>to User</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="time" name="proposeTime" id="proposeTime" /></td>
				<td><input type="text" name="toUser" id="toUser" value="VirginDestroyer69" disabled="disabled" /></td>
			</tr>
		</tbody>
	</table>
	<br />
	<your location><liftname>
	<hr /><br />
	<textarea rows="10" cols="100" name="message" id="message">Are you still virgin?</textarea>
	<br />
	<div class="footerButtons" id="footerButtons">
		<input type="button" class="buttonRight" value="Send" onclick="forward('@routes.Application.home()')" />
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>