<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Filter matching users</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Content -->
<div class="mainContent" id="mainContent">
 <h1>Filter matching users</h1>
	<div class="formFieldLabel">
		<label for="gender">Gender</label>
	</div>
	
	<div class="formField">
		<fieldset data-role="controlgroup" data-iconpos="left">
			<input name="gender" id="genderMale" value="m" checked="checked" type="radio">
				<label for="genderMale">Male</label>
			<input name="gender" id="genderFemale" value="f" type="radio">
				<label for="genderFemale">Female</label>
		</fieldset>
	</div>
	<br /><br />

	<div class="formFieldLabel">
		<label for="age">Age</label>
	</div>
	<div class="formField">
		<select name="ageSelect" id="select-choice-mini" data-mini="true" data-inline="true">
			<option value="=">=</option>
			<option value=">=">>=</option>
			<option value="<="><=</option>
		</select>
		<input type="number" name="ageInput" value="42" />
	</div>
	<br />

	<div class="filterOptions">Interests</div>
	<ul>
		<li>+ Politics [x]</li>
		<li>+ Theology [x]</li>
		<li>+ Games [x]</li>
	</ul>
	<br />
	([x] ... should be replaced with javascript code to expand sub-categories in final version)<br /><br />

	<div class="formSubmit">
		<input type="button" name="contact" value="Contact" data-mini="true" onclick="forward('@routes.Application.contactRequest()')" />
		<input type="button" name="filter" value="Set Filter" data-mini="true" onclick="forward('@routes.Application.filterPopup()')" />
	</div>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>