	<p class="copyright small" id="copyright">&copy; 2014-2015 by MasterMoritz, YtGz, Gogeta05<br />All rights reserved - Thanks to Play!</p>
	<!-- Only for testing purpose to quick-navigate between the pages -->
	<nav class="small">
		<a href="javascript:history.back()">Go Back to previous page</a> (for easier testing of the linked pages)<br /> <!-- Developer link to go back easily if needed -->
		<a href='@routes.Application.index'>Index</a> - <a href='@routes.Application.register()'>Register</a> - <a href='@routes.Application.settingsGeneral()'>Settings General (other settings linked there)</a> -
		<a href='@routes.Application.userPopup("a")'>UserPopup</a> - <a href='@routes.Application.displayLifts()'>Display lifts</a> - <a href='@routes.Application.filterPopup()'>Filter popup</a> -
		<a href='@routes.Application.locationTracker()'>Location Tracker</a> - <a href='@routes.Application.contactRequest("virgin_destroyer")'>Contact Request</a> - <a href='@routes.Application.privateMessage()'>Private Message detail</a> - <a href='@routes.Application.privateMessageList()'>Private MessageList</a>
	</nav>