	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link rel="shortcut icon" href='@routes.Assets.at("images/favicon.ico")' type="image/x-icon" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src='@routes.Assets.at("javascripts/generalFunctions.js")'></script>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/hund.css")' />