@(user : User)(form: Form[controllers.Application.SetUserLocation])
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Home</title>
	@headInclude()
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/locationTracker.js")'></script>
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Main content -->
<div class="mainContent" id="mainContent">
	<br />
	@if(form.hasGlobalErrors) {
		<hr />
		<div class="error">
			<p>@form.globalError.message</p>
		</div>
	}
	@helper.form(routes.Application.setUserLocation) {
		<div class="innerBox">
			<h3 align="center">Location Settings</h3>
			<h4>Location:</h4>
			<input type="text" name="locationInfo" id="locationInfo" value="@if(user.getLocation() != -1) {@user.getLocation()}" readonly="readonly" />
			<br />
			<h4>Lift:</h4>
			<div class="ui-field-contain">
				<select name="liftname" id="liftname" data-native-menu="true" data-mini="true">
					<option value="default">@user.getLiftName()</option>
					@for(lift <- Application.getLifts(user.getLocation())) {
						<option value="@lift.name">@lift.name</option>
					}
				</select>
			</div>
			
			<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
				<input type="submit" value="OK" data-mini="true" data-theme="b" />
				<input type="button" onclick="forward('home')" value="Refresh" data-mini="true" />
			</div>
		</div>
	}
	
	
	<br />
	<h5>Potential matchings:</h5>
	<table class="tableList">
		<thead>
			<tr>
				<th class="tableHead">Username</th>
				<th class="tableHead">Name</th>
			</tr>
		</thead>
		<tbody>
			@for(usr <- user.matching(1)) {
				<tr>
					<td class="tableCols"><a href="#userPopup-@usr.getUsername()" data-rel="popup" data-transition="pop" data-mini="true">@usr.getUsername()</a></td>
					<td class="tableCols">@usr.getName()</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	
	@for(usr <- user.matching(1)) {
		@userPopup(usr)
	}
</div>
</body>
</html>