@(user : User)

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Home</title>
	@headInclude()
	@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/locationTracker.js")'></script>*@
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Content -->
<div class="mainContent" id="mainContent">
	<div class="innerBox">
		Location Tracking is <span class="off">OFF</span><br />
		Default filter is <span class="off">OFF</span>
	</div>
	<br />
	<div class="innerBox">
		<p>Location: <span id="locationInfo"></span></p>
	</div>
	<br />
	<h5>potential matchings:</h5>
	<table class="tableList">
		<thead>
			<tr>
				<th class="tableHead">Username</th>
				<th class="tableHead">Name</th>
			</tr>
		</thead>
		<tbody>
			@for(usr <- user.matching(1)) {
				<tr>
					<td class="tableCols"><a href='@routes.Application.userPopup(usr.getUsername())'>@usr.getUsername()</a></td>
					<td class="tableCols">@usr.getName()</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
		<input type="button" name="contact" value="Contact" data-mini="true" onclick="forward('@routes.Application.contactRequest()')" />
		<input type="button" name="filter" value="Set Filter" data-mini="true" onclick="forward('@routes.Application.filterPopup()')" />
	</div>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>