@(users: List[User])(form: Form[controllers.Application.Login])
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Welcome to Freezer</title>
	@headInclude()
</head>
<body>

<!-- Main content -->
<div class="mainContent" id="mainContent">
	<h1>Login</h1>
	@if(form.hasGlobalErrors) {
		<hr />
		<div class="error">
			<p>@form.globalError.message</p>
		</div>
	}
	@helper.form(routes.Application.login) {
		<div class="formFieldLabel">
			<label for="email">E-Mail</label>
		</div>	
		<div class="formField">
			<input type="email" data-mini="true" name="email" id="email" value="@form("email").value" />
		</div>
		
		<div class="formFieldLabel">
			<label for="password">Password</label>
		</div>	
		<div class="formField">
			<input type="password" data-mini="true" name="password" id="password" />
		</div>
		
		<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
			<input accesskey="s" value="Login" type="submit" data-mini="true" />
			<input accesskey="r" value="Register" type="button" data-mini="true" onclick="forward('@routes.Application.register()')" /> <!-- <button> would also be possible, but is still in development and could be interpreted in different ways by different browsers. W3 School recommends to use "old syntax" <input type="button"> -->
			<input accesskey="w" value="Manual" type="button" data-theme="b" data-mini="true" onclick="forward('@routes.Application.readMe()')" />
		</div> 
	}
</div>

<footer>
	@footer()
</footer>
</body>
</html>