@* The list of users - which is passed via the index.render() method *@
@(users: List[User])
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Index of freezer</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
	<link rel="stylesheet" type="text/css" media="main and (max-device-width: 480px)" href="@routes.Assets.at("stylesheets/mobile.css")" /> <!-- Responsive Webdesign -->
	<link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.ico")" type="image/x-icon" />
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery/jquery.mobile-1.4.5.min.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery/jquery.mobile-1.4.5.min.css")" />
</head>
<body>
<!-- Die obere Navigation -->
<div class="topNavigation" id="topNavigation">
	<ul>
		<li>Home</li>
		<li>Vogel-Icon</li>
		<li><input type="checkbox" data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1" data-theme="b"></li>
		<li>Logout</li>
	</ul>
</div>

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	<!-- hier mit if-else arbeiten, um Gaeste und User zu unterscheiden -->
	<h1>Login</h1>
    <form action='@routes.Application.register()' method='post'>
		<div class="formFieldLabel">
			<label for="username">Username</label>
		</div>	
		<div class="formField">
			<input type="text" name="username" id="username" />
		</div>
		
		<div class="formFieldLabel">
			<label for="password">Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="password" id="password" />
		</div>
		
		<div class="formSubmit">
			<input accesskey="s" value="Login" type="submit">
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Zurücksetzen" type="reset">
		</div>
    </form>
    
    <h1>Registered users:</h1>
    <ul>
    @for(user <- users) {
    	<li>@user.getEmail() : @user.getPassword()</li>
    }
    </ul>
    
    <h1>Location Tracking:</h1>
    <a href='@routes.Application.locationTracker()'>Click me!</a>
    
    <h1>View Lifts:</h1>
    <a href='@routes.Application.displayLifts()'>Click me!</a>

</div>
<div class="copyright" id="copyright">&copy;2014-2015 by MasterMoritz, YtGz, Gogeta05<br />All rights reserved - Thanks to Play!</div>
</body>
</html>