@(interests: List[Interests])
	<div class="formField ui-field-contain">
		<fieldset data-role="controlgroup" data-iconpos="left" class="genderBox">
			@for(i <- interests) {
				<input type="checkbox" name="interests[]" id="@i.getTitle()" value="@i.getTitle()" data-mini="true" /><label for="@i.getTitle()">@i.getTitle()</label>
					@if(i.hasSubs()) {
						<fieldset data-role="controlgroup" data-iconpos="left" class="genderBox">
							<input type="checkbox" name="subInterests[]" id="@i.getSubInterests()" value="@i.getSubInterests()" data-mini="true" /><label for="@i.getSubInterests()">@i.getSubInterests()</label>
					}
				
			}
		</fieldset>
	</div>
				@*<div data-role="collapsible" data-iconpos="right">
					<h3>@i.getTitle()<h3>
					@if(i.hasSubs()) {
						@listInterests(i.getSubInterests())
					}
				</div>*@