@(interests: List[Interests])
		@for(i <- interests) {
			<tr>
				<td @if(i.parent == null){style="color:#B89300; border-top: 1px solid black;"}>@i.getTitle()</td>
				<td @if(i.parent == null){style="border-top: 1px solid black;"}>
					<select name="interests[]" id="@i.getTitle()" data-role="flipswitch" data-mini="true">
						<option>off</option>
						<option @if(i.isOn()){selected="" }else{}>on</option>
					</select>
				</td>
			</tr>
			@if(i.hasSubs()) {
				@listInterests(i.getSubInterests())
			}
		}