@header("Index of Freezer")(<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script><script type="text/javascript" src="@routes.Assets.at("javascripts/locationTracker.js")"></script>)(<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/locationTracker.css")" />)
{
    <div id="panel">
		<span id="info">Location Tracking prototype by MasterMoritz - implemented into new html scheme prototype by Gogeta</span>
		<span id="locationInfo"></span>
	</div>
    <div id="map-canvas"></div>
}
@footer() {}