<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Location Tracker</title>
	@headInclude()
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src='@routes.Assets.at("javascripts/locationTracker.js")'></script>
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	Your position is registered with the Postal code: <span id="locationInfo"></span>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</footer>
</body>
</html>