@(message: Message)
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Message Title</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Main content -->
<div class="mainContent" id="mainContent">
	<h4>
	<table>
		<tbody>
			<tr>
				<td>From</td><td>@message.from.getUsername()</td>
			</tr>
			<tr>
				<td>At Lift &nbsp</td><td>@message.lift</td>
			</tr>
			<tr>
				<td>At</td><td>@message.time</td>
			</tr>
		</tbody>
	</table>
	</h4>
	<hr />
	<div class="formField pmDisplay">@message.msg</div>
	<hr />
	
	<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
		<input type="button" name="reply" value="Reply" data-mini="true" onclick="forward('@routes.Application.privateMessageReply(message.id)')" />
	</div>
</div>

<footer>
	@footer()
</footer>
</body>
</html>