@(messageBox: MessageBox)
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Private Message List</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	<h4>Your PMs</h4>
	<table class="tableList">
		<thead>
			<tr>
				<th class="tableHead" style="width:18px !important;">#</th>
				<th class="tableHead">Title</th>
				<th class="tableHead" style="width: 100px !important;">From</th>
			</tr>
		</thead>
		<tbody>
			@for(message <- messageBox.messages) {
				<tr>
					<td class="tableCols">l</td>
					<td class="tableCols"><a href="@routes.Application.privateMessage()">@message.msg</a></td>
					<td class="tableCols">@message.from.getUsername()</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>