@header("privateMessage List")()() {
<div class="filterOptions">Your PMs</div>
<table class="tableList">
	<thead>
		<tr>
			<th>Message id</th>
			<th>Title</th>
			<th>from User</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Are you still virgin?</td>
			<td>VirginDestroyer69</td>
			<td>18.01.2015, 00:27</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="https://www.youtube.com/watch?v=Q0Bi-lcUxCk" target="_blank">Please listen to this awesome music!</a></td>
			<td>RareWare</td>
			<td>18.01.2015, 00:28</td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="https://www.youtube.com/watch?v=2lFfF5XLsCQ" target="_blank">Please listen to me too!</a></td>
			<td>Smosh</td>
			<td>18.01.2015, 00:29</td>
		</tr>
	</tbdoy>
</table>
}
@footer() {}