<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Registration of freezer</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/hund.css")" />
	<link rel="stylesheet" type="text/css" media="main and (max-device-width: 480px)" href="@routes.Assets.at("stylesheets/mobile.css")" /> <!-- Responsive Webdesign -->
	<link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.ico")" type="image/x-icon" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<!-- Top Navigation -->
<div class="topNavigation" id="topNavigation">
	<ul>
		<li><a href="http://localhost:9000">Home</a></li>
	</ul>
</div>

<!-- Content -->
<div class="mainContent" id="mainContent">
	
	<h1>Register</h1>
    <form action='@routes.Application.submitRegistration()' method='post'>
		<div class="formFieldLabel">
			<label for="username">Username</label>
		</div>	
		<div class="formField">
			<input type="text" name="username" id="username" />
		</div>
		
		<div class="formFieldLabel">
			<label for="age">Age</label>
		</div>	
		<div class="formField">
			<input type="number" name="age" id="age" />
		</div>
		
		<div class="formFieldLabel">
			<label for="gender">Gender</label>
		</div>	
		
		<fieldset data-role="controlgroup" data-iconpos="left">
			<input name="gender" id="genderMale" value="m" checked="checked" type="radio">
				<label for="genderMale">Male</label>
			<input name="gender" id="genderFemale" value="f" type="radio">
				<label for="genderFemale">Female</label>
		</fieldset>
		
		<div class="formFieldLabel">
			<label for="password">Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="password" id="password" />
		</div>

		<div class="formFieldLabel">
			<label for="passwordConfirm">Confirm Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="passwordConfirm" id="passwordConfirm" />
		</div>
		
		<div class="formFieldLabel">
			<label for="email">Email</label>
		</div>	
		<div class="formField">
			<input type="text" name="email" id="email" />
		</div>
		
		<div class="formFieldLabel">
			<label for="emailConfirm">Confirm Email</label>
		</div>	
		<div class="formField">
			<input type="text" name="emailConfirm" id="emailConfirm" />
		</div>
		
		<div class="formSubmit">
			<input accesskey="s" value="Absenden" type="submit">
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Zurücksetzen" type="reset">
		</div>
    </form>

</div>
</body>
</html>