<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Registration of freezer</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
	<link rel="stylesheet" type="text/css" media="main and (max-device-width: 480px)" href="@routes.Assets.at("stylesheets/mobile.css")" /> <!-- Responsive Webdesign -->
	<link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.ico")" type="image/x-icon" />
</head>
<body>
<!-- Die obere Navigation -->
<div class="topNavigation" id="topNavigation">
	<ul>
		<li>Home</li>
		<li>Vogel-Icon</li>
		<li><a href="https://proto.io/freebies/onoff/" target="_blank">OnOff Switch</a></li>
		<li>Login</lil>
	</ul>
</div>

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	<!-- hier mit if-else arbeiten, um Gaeste und User zu unterscheiden -->
	<h1>Register (Guests)</h1>
    <form action='@routes.Application.register()' method='post'>
		<div class="formFieldLabel">
			<label for="username">Username</label>
		</div>	
		<div class="formField">
			<input type="text" name="username" id="username" />
		</div>
		
		<div class="formFieldLabel">
			<label for="password">Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="password" id="password" />
		</div>

		<div class="formFieldLabel">
			<label for="passwordConfirm">Confirm Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="passwordConfirm" id="passwordConfirm" />
		</div>
		
		<div class="formFieldLabel">
			<label for="email">Email</label>
		</div>	
		<div class="formField">
			<input type="text" name="email" id="email" />
		</div>
		
		<div class="formFieldLabel">
			<label for="emailConfirm">Confirm Email</label>
		</div>	
		<div class="formField">
			<input type="text" name="emailConfirm" id="emailConfirm" />
		</div>
		
		<div class="formSubmit">
			<input accesskey="s" value="Absenden" type="submit">
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Zurücksetzen" type="reset">
		</div>
    </form>

</div>
<div class="copyright" id="copyright">&copy;2014-2015 by MasterMoritz, YtGz, Gogeta05<br />All rights reserved - Thanks to Play!</div>
</body>
</html>