	<a href="#settingsMenuPopup" data-mini="true" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a distanceLeft" data-transition="pop"></a>
	<div data-role="popup" id="settingsMenuPopup" data-theme="none" data-mini="true">
		<ul data-role="listview" data-inset="true" class="settingsMenuPopup">
			<li><a href='@routes.Application.settingsProfile()'>Profile</a></li>
			<li><a href='@routes.Application.settingsMatching()'>Matching</a></li>
		</ul>
	</div>