@header("Settings General")()() {
	<ul>
		<li>Settings</li>
			<ul>
				<li>Account</li>
				<li>Profile</li>
				<li>Matching</li>
			</ul>
	</ul>
	
	<div class="informationBox">In Nomine Patris et Filii et Spiritus Sancti</div>
	<div class="locationStatus">Location Status</div>
	<div class="filterOptions">Users near you</div>
	
	<table class="tableList">
		<thead>
			<tr>
				<th>Username</th>
				<th>Real name</th>
			</tr>
		</head>
		<tbody>
			<tr>
				<td>VirginDestroyer69</td>
				<td><Hidden></td>
			</tr>
			<tr>
				<td>GrueneGurke</td>
				<td>Guenther</td>
			</tr>
			<tr>
				<td>Gandalf</td>
				<td>Gandalf Grey</td>
			</tr>
			<tr>
				<td>Morgoth</td>
				<td>Boeser Heinz</td>
			</tr>
	</table>

	<div class="footerButtons" id="footerButtons">
		<input type="button" class="buttonLeft" name="contact" value="contact" onclick="javascript:alert('STALKER!!!');">
		<input type="button" class="buttonRight" name="contact" value="set filter" onclick="javascript:alert('FILTER!!!');">
	</div>
	
}
@footer() {}