<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings Account</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	<nav class="settings" id="navSettings"> <!-- see here for finalization: http://webdesignerwall.com/tutorials/mobile-navigation-design-tutorial  -->
		<ul class="settingsUL" id="settingsUL">
			<li><b>Settings</b></li>
				<ul class="settingsMenu" id="settings">
					<li><a href='@routes.Application.settingsGeneral()'>General</a></li>
					<li class="current"><a href='@routes.Application.settingsAccount()'>Account</a></li>
					<li><a href='@routes.Application.settingsProfile()'>Profile</a></li>
					<li><a href='@routes.Application.settingsMatching()'>Matching</a></li>
				</ul>
		</ul>
	</nav>
	
	<h4 class="distanceSettingsMenu">Account settings</h4>

    <form action='@routes.Application.settingsAccount()' method='post'> <!-- make this automatically like login ? -->
		<div class="formFieldLabel">
			<label for="username">Username</label>
		</div>	
		<div class="formField">
			<input type="text" name="username" id="username" />
		</div>
		
		<div class="formFieldLabel">
			<label for="password">Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="password" id="password" />
		</div>
		
		<div class="formFieldLabel">
			<label for="email">Email</label>
		</div>	
		<div class="formField">
			<input type="email" name="email" id="email" />
		</div>
		
		<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
			<input accesskey="s" value="Save" type="submit" data-theme="b" />
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Reset" type="reset" />
		</div>
    </form>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>