<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings Account</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Main content -->
<div class="mainContent" id="mainContent">
	@settingsMenu()
	
	<h4 class="distanceSettingsMenu">Account settings</h4>

    <form action='@routes.Application.settingsAccount()' method='post'> <!-- make this automatically like login ? -->
		<div class="formFieldLabel">
			<label for="username">Username</label>
		</div>	
		<div class="formField">
			<input type="text" name="username" id="username" />
		</div>
		
		<div class="formFieldLabel">
			<label for="password">Password</label>
		</div>	
		<div class="formField">
			<input type="password" name="password" id="password" />
		</div>
		
		<div class="formFieldLabel">
			<label for="email">Email</label>
		</div>	
		<div class="formField">
			<input type="email" name="email" id="email" />
		</div>
		
		<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
			<input accesskey="s" value="Save" type="submit" data-theme="b" />
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Reset" type="reset" />
		</div>
    </form>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>