@(user : User)(form: Form[controllers.Application.SaveProfileSettings])

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings Profile</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Main content -->
<div class="mainContent" id="mainContent">

	<h4 class="distanceSettingsMenu">Profile Settings</h4>
	
	@helper.form(routes.Application.saveProfileSettings) {
		<div class="formFieldLabel">
			<label for="firstname">first name</label>
		</div>	
		<div class="formField">
			<input type="text" name="firstName" id="firstName" />
		</div>
		
		<div class="formFieldLabel">
			<label for="lastname">last name</label>
		</div>	
		<div class="formField">
			<input type="text" name="lastName" id="lastName" />
		</div>
		
		<div class="formFieldLabel">
			<label for="age">age</label>
		</div>	
		<div class="formField">
			<input type="text" name="age" id="age" />
		</div>
		
		<div class="formFieldLabel settingsProfileAge">
			<label for="gender"><select name="gender" id="gender" data-mini="true" data-inline="true">
					<option value="male">male</option>
					<option value="female">female</option>
				</select>
			</label>
		</div>
		
		<h4>Interests</h4>
		@listInterestsettings(user.interests)
		
		<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
			<input accesskey="s" value="Save" type="submit" data-theme="b" />
		</div>
	}
</div>
<footer>
	@footer()
</footer>
</body>
</html>