<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings Profile</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	<nav class="settings" id="navSettings"> <!-- see here for finalization: http://webdesignerwall.com/tutorials/mobile-navigation-design-tutorial  -->
		<ul class="settingsUL" id="settingsUL">
			<li>Settings</li>
				<ul class="settings" id="settings">
					<li><a href='@routes.Application.settingsGeneral()'>General</a></li>
					<li><a href='@routes.Application.settingsAccount()'>Account</a></li>
					<li><a href='@routes.Application.settingsProfile()'>Profile</a></li>
					<li><a href='@routes.Application.settingsMatching()'>Matching</a></li>
				</ul>
		</ul>
	</nav>

	<div class="filterOptions">Profile Settings</div> <!-- Use fieldset in final version -->
	
    <form action='@routes.Application.settingsProfile()' method='post'> <!-- automatically like login ? -->
		<div class="formFieldLabel">
			<label for="firstname">first name</label>
		</div>	
		<div class="formField">
			<input type="text" name="firstname" id="firstname" />
		</div>
		
		<div class="formFieldLabel">
			<label for="lastname">last name</label>
		</div>	
		<div class="formField">
			<input type="text" name="lastname" id="lastname" />
		</div>
		
		<div class="formFieldLabel">
			<label for="age">age</label>
		</div>	
		<div class="formField">
			<input type="text" name="age" id="age" />
		</div>
		
		<div class="formFieldLabel positionRight">
			<label for="avatar"><img src="@routes.Assets.at("images/avatar_default.png")" alt="Avatar" /></label>
		</div>	
		
		<div class="formFieldLabel positionRight">
			<label for="gender"><select name="gender" id="select-choice-mini" data-mini="true" data-inline="true">
					<option value="male">male</option>
					<option value="female">female</option>
					<option value="unknown">Don't know</option>
				</select>
			</label>
		</div>
		
		<div class="filterOptions">Interests</div> <!-- fieldset ... -->
		<ul>
			<li>+ Politics [x]</li>
			<li>+ Theology [x]</li>
			<li>+ Games [x]</li>
		</ul>
		<br />
		([x] ... should be replaced with javascript code to expand sub-categories in final version)<br /><br />
		
		<div class="formSubmit">
			<input accesskey="s" value="Save" type="submit">
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Reset" type="reset">
		</div>
	</form>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>