@header("Settings Matching")()() {
	<ul>
		<li>Settings</li>
			<ul>
				<li>Account</li>
				<li>Profile</li>
				<li>Matching</li>
			</ul>
	</ul>

	<div class="filterOptions">Matching Settings</div>
	<form action='@routes.Application.matchingSettings()' method='post'>
		<div class="innerBox">
			<div class="filterOptions">Gender</div>
			 <div class="formFieldLabel">
				<label for="male">Male</label>
			</div>
			<div class="formField">
				<input type="checkbox" name="gender" value="1" />
			</div>
			 <div class="formFieldLabel">
				<label for="female">Female</label>
			</div>
			<div class="formField">
				<input type="checkbox" name="gender" value="2" />
			</div>
			<br /><br />

			<div class="filterOptions">Age</div>
			<select name="ageSelect">
				<option value="=">=</option>
				<option value=">=">>=</option>
				<option value="<="><=</option>
			</select>
			<input type="text" name="ageInput" value="42" size="10" />
			<br /><br />

			<div class="filterOptions">Interests</div>
				<ul>
					<li>+ Politics [x]</li>
					<li>+ Theology [x]</li>
					<li>+ Games [x]</li>
				</ul>
				<br />
				([x] ... should be replaced with javascript code to expand sub-categories in final version)<br /><br />
		</div>
		
		<div class="filterOptions">Match with users around:</div>
		<div class="formFieldLabel">
			<label for="sameLocation">same location</label>
		</div>
		<div class="formField">
			<input type="checkbox" name="matchSameLocation" value="1" />
		</div>
		
		<div class="formFieldLabel">
			<label for="sameLift">same lift</label>
		</div>
		<div class="formField">
			<input type="checkbox" name="matchSameLift" value="1" />
		</div>
		
		<div class="filterOptions">Allow Location Tracking - ON/OFF Switch</div>
		<div class="innerBox">
			Location Tracking is currently turned <span class="fontColorRed">OFF</span>.<br />
			Matching is only enabled when this is turned <span class="fontColorGreen">ON</span>.
		</div>
		
		<div class="formSubmit">
			<input accesskey="s" value="Speichern" type="submit">
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Zurücksetzen" type="reset">
		</div>
	</form>
}
@footer() {}