<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings Matching</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Main content -->
<div class="mainContent" id="mainContent">
	@settingsMenu()

	<h4 class="distanceSettingsMenu">Matching Settings</h4>
	<form action='@routes.Application.settingsMatching()' method='post'> <!-- automatically -->
		<h4>Gender</h4>
		 <div class="formFieldLabel ui-field-contain">
			<fieldset data-role="controlgroup" data-iconpos="left" class="genderBox">
				<input type="checkbox" name="gender" id="male" value="1" data-mini="true" /><label for="male">Male</label>
				<input type="checkbox" name="gender" id="female" value="2" data-mini="true" /><label for="female">Female</label>
			</fieldset>
		</div>

		<h4>Age</h4>
		<select name="ageSelect" id="select-choice-mini" data-mini="true" data-inline="true">
			<option value="=">equal</option>
			<option value=">=">greather than</option>
			<option value="<=">less than</option>
		</select>
		<input type="text" name="ageInput" value="42" />
		
		<h4>Interests</h4>
		<div class="formField ui-field-contain">
			<fieldset data-role="controlgroup" data-iconpos="left" class="genderBox settingsProfileBox">
				<input type="checkbox" name="interests[]" id="politics" value="politics" data-mini="true" /><label for="politics">politics</label>
			</fieldset>
		</div>
		
		<h4>Match with users around:</h4>
		<div class="formFieldLabel ui-field-contain">
			<fieldset data-role="controlgroup" data-iconpos="left" class="genderBox settingsProfileBox">
				<input type="checkbox" name="matchSameLocation" id="sameLocation" value="1" data-mini="true" /><label for="sameLocation">same location</label>
				<input type="checkbox" name="matchSameLift" value="1" id="sameLift" data-mini="true" /><label for="sameLift">same lift</label>
		</div>
		
		<h4>Allow Location Tracking <input type="checkbox" data-role="flipswitch" class=" class="flipMatching" name="flip-checkbox-1" id="flip-checkbox-1" data-mini="true"></h4>
		<div class="distanceLeft">
			Location Tracking is currently turned <span class="off">OFF</span>.<br />
			Matching is only enabled when this is turned <span class="on">ON</span>.
		</div>
		
		<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
			<input accesskey="s" value="Save" type="submit" data-theme="b" />
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Reset" type="reset" />
		</div>
	</form>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>