<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings Matching</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Ab hier: Der eigentliche Inhalt. Main Container wird noch hier im Header geoeffnet -->
<div class="mainContent" id="mainContent">
	<nav class="settings" id="navSettings"> <!-- see here for finalization: http://webdesignerwall.com/tutorials/mobile-navigation-design-tutorial  -->
		<ul class="settingsUL" id="settingsUL">
			<li>Settings</li>
				<ul class="settings" id="settings">
					<li><a href='@routes.Application.settingsGeneral()'>General</a></li>
					<li><a href='@routes.Application.settingsAccount()'>Account</a></li>
					<li><a href='@routes.Application.settingsProfile()'>Profile</a></li>
					<li><a href='@routes.Application.settingsMatching()'>Matching</a></li>
				</ul>
		</ul>
	</nav>

	<div class="filterOptions">Matching Settings</div> <!-- fieldset-->
	<form action='@routes.Application.settingsMatching()' method='post'> <!-- automatically -->
		<div class="innerBox">
			<div class="filterOptions">Gender</div>
			 <div class="formFieldLabel">
				<label for="male">Male</label>
			</div>
			<div class="formField">
				<input type="checkbox" name="gender" value="1" />
			</div>
			 <div class="formFieldLabel">
				<label for="female">Female</label>
			</div>
			<div class="formField">
				<input type="checkbox" name="gender" value="2" />
			</div>
			<br /><br />

			<div class="filterOptions">Age</div>
			<select name="ageSelect" id="select-choice-mini" data-mini="true" data-inline="true">
				<option value="=">=</option>
				<option value=">=">>=</option>
				<option value="<="><=</option>
			</select>
			<input type="text" name="ageInput" value="42" />
			<br /><br />

			<div class="filterOptions">Interests</div> <!-- fieldset-->
				<ul>
					<li>+ Politics [x]</li>
					<li>+ Theology [x]</li>
					<li>+ Games [x]</li>
				</ul>
				<br />
				([x] ... should be replaced with javascript code to expand sub-categories in final version)<br /><br />
		</div>
		
		<div class="filterOptions">Match with users around:</div> <!-- fieldset-->
		<div class="formFieldLabel">
			<label for="sameLocation">same location</label>
		</div>
		<div class="formField">
			<input type="checkbox" name="matchSameLocation" value="1" />
		</div>
		
		<div class="formFieldLabel">
			<label for="sameLift">same lift</label>
		</div>
		<div class="formField">
			<input type="checkbox" name="matchSameLift" value="1" />
		</div>
		
		<div class="filterOptions">Allow Location Tracking - <input type="checkbox" data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1" data-theme="b" data-mini="true"></div>
		<div class="innerBox">
			Location Tracking is currently turned <span class="off">OFF</span>.<br />
			Matching is only enabled when this is turned <span class="on">ON</span>.
		</div>
		
		<div class="formSubmit">
			<input accesskey="s" value="Save" type="submit">
			<input kl_virtual_keyboard_secure_input="on" accesskey="r" value="Reset" type="reset">
		</div>
	</form>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>