<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>Settings General</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Main content -->
<div class="mainContent" id="mainContent">
	@settingsMenu()
	
	<div class="distanceLeft">
		<p>In Nomine Patris et Filii et Spiritus Sancti</p>
	</div>

	<div class="formSubmit" data-role="controlgroup" data-type="horizontal">
		<input type="button" name="contact" value="Contact" data-mini="true" onclick="forward('@routes.Application.contactRequest("virgin_destroyer")')" />
		<input type="button" name="filter" value="Set Filter" data-mini="true" onclick="popup('open, filterPopup')" />
	</div>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>