<!-- [if lt IE 9]>
	<div class="error">
		<p>Internet Explorer less version 9 is not supported!<br />Elements will maybe not be displayed and work correctly!</p>
	</div>
<![endif]-->
<div class="topNavigation" id="topNavigation">
	<nav class="topNav" id="topNav">
		<ul class="topNavUL" id="topNavUL">
			<li><a href='@routes.Application.home()'>Home</a></li>
			<li><a href='@routes.Application.privateMessageList()'><img src='@routes.Assets.at("images/inbox.png")' alt="inbox" style="width:30px; height:25px;"></a><span class="newPMs" id="newPMs">@utils.Util.getSessionUser().msgBox.getNumberOfUnreadMessages()</span></li>
			<li>@settingsMenu()</li>
			<li><a href='@routes.Application.logout()'>Logout</a></li>
		</ul>
	</nav>
</div>