@header("User Popup")()() {
 
 <h1>Users with similar interests</h1>
    <ul>
		<li>VirginDestroyer69</li>
		<li>Pepi Unterluggauer</li>
		<li>Male</li>
		<li>Age: 69</li>
    </ul>
	<br />
	<div class="filterOptions">Interests</div><br />
	<ul>
		<li>+ Politics [x]</li>
		<li>+ Theology [x]</li>
		<li>+ Games [x]</li>
	</ul>
	<br />
	([x] ... should be replaced with javascript code to expand sub-categories in final version)<br /><br />

<div class="footerButtons" id="footerButtons">
	<input type="button" class="buttonLeft" name="contact" value="contact" onclick="javascript:alert('STALKER!!!');">
	<input type="button" class="buttonRight" name="contact" value="set filter" onclick="javascript:alert('FILTER!!!');">
</div>
}
@footer() {}