@(user : User)

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<title>@user.getUsername()</title>
	@headInclude()
</head>
<body>

<!-- Top Navigation -->
@topNav()

<!-- Content -->
<div class="mainContent" id="mainContent" data-role="content">
	<h1>@user.getUsername()</h1>
	<p>Name: @user.getName()</p>
	<p>Gender: @user.getGenderString()</p>
	<p>Age: @user.getAge</p>

	<br />
	<h2> Interests </h2>
	@if(user.interests != null) {
		@listInterests(user.interests)
	}
	
	<br />
	<hr />
	<div class="formSubmit">
		<input type="button" name="contact" value="Contact" data-mini="true" onclick="forward('@routes.Application.contactRequest()')" />
		<input type="button" name="filter" value="Set Filter" data-mini="true" onclick="forward('@routes.Application.filterPopup()')" />
	</div>
</div>

<!-- footer -->
<br /><hr />
<footer>
	@footer()
</body>
</html>